
    .navbar-bottom {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      height: 80px;
      background: var(--navbar-bg);
      backdrop-filter: blur(20px);
      border-top: 0.1px solid var(--navbar-border);
      z-index: 9999;
    }

.navbar-bottom-area svg {
  width: 28px;  /* ou o tamanho que você usa nos outros ícones */
  height: 26px;
  fill: #888; /* pega a cor do texto do link */
}

    .active-bar svg{
      fill:  #fff;
    }

    .navbar-bottom-area{
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      padding-bottom: 32px;
    }

    .navbar-bottom-area a {
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #f8f9f9;
      font-size: 26px;
      padding: 8px;
      border-radius: 12px;
      transition: all 0.3s ease;
      text-decoration: none;
    }


    .profile-mini {
      width: 28px;
      height: 28px;
      border-radius: 50%;
      object-fit: cover;
      background-color: #333;
    }
